html {
  scroll-behavior: smooth;
}
body {
  font-family: "Bebas Neue", cursive;
  /* background:
   url(./img/images/bg13.png) no-repeat;
background-size: 1080px 1080px;
background-position: top; */
  background-color:#252525 ;
  color: #ebebeb;
  z-index: 10;
}
.big-letter{
  z-index: 1;
}
.btn1{
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.color-box {
  height: 115%;
  width: 360px;
  right: 8px;
  top: 0px;
  margin-top: -13rem;
  background-color: orange;
  position: absolute;
  z-index: -2;
  /* clip-path: polygon(46% 0, 100% 0%, 100% 100%, 0% 36%); */
  /* transform: rotateY(0deg); */
  clip-path: polygon(68% 0, 100% 0, 100% 100%, 48% 100%, 21% 33%);
  
 
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

Link:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #f39c12;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  color: #000;
  width: 729px;
  height: 742px;
}
.video-card {
  border: 1px solid white;
  transition: all 0.2s;
}
.video-card:hover {
  border: 3px solid white;
  transform: scale(1.09)
}
.hero-banner-img {
  position: absolute;
  right: 18px;
  top: 71px;
  width: 587px;
  height: 729px;
  margin-top: -250px;
  perspective: 5000px;
  /* border-bottom-left-radius: 110px; */
  /* border-top-right-radius: 100px; */
  
  /* background-position: top; */
 
}
.btn-learn-more{
  padding: 23px;
  margin: 23px;
  gap: 4px;
  border: 2px solid #f39c12;
  z-index : 1;

}
.figures {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 20px;
}

.figures > div {
  display: flex;
  flex-direction: column;
}
.figures > div > span:nth-child(1) {
  font-size: 2rem;
}
.figures > div > span:nth-child(2) {
  color: #b8b1b1;
  font-family: "Poppins";
  text-transform: uppercase;
}

.exercise-card {
  width: 350px;
  height: 370px;
  background: #000;
  border-top: 4px solid #a1e533;
  /* border-bottom-left-radius: 20px; */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 243px;
}
/* linear-gradient(0deg, rgba(35,46,60,1) 0%, rgba(39,38,67,1) 54%), */
.big-box{
  background:url("./img/images/giphy\ \(1\).gif");
  background-position: initial;
  color:black;
  border: 1px solid white;
    border-radius: 4px;
    /* box-shadow: 0rem .5rem 4rem rgba(245, 245, 245, 0.501); */
    transition: all .2s;
    
}
.big-box:hover{
  box-shadow: 0rem 1.5rem 4rem rgba(245, 245, 245, 0.501);
  transform: scale(1.08) translate(3px);
  border: 5px solid whitesmoke;
}
.small-box--1{
  background: center center no-repeat url("./img/images/one-punch-man-workout.jpg");
  /* background: linear-gradient(0deg, rgba(35,46,60,1) 0%, rgba(39,38,67,1) 54%); */
  background-size: cover;
  background-position: center;
 
  transition: all 0.2s;
}
.small-box--1:hover{
  transform: scale(1.08) translate(3px);
  border: 5px solid whitesmoke;
  box-shadow: 0rem 1.1rem 4rem rgba(255, 255, 255, 0.316);
  
}
.small-box--2:hover{
  transform: scale(1.08) translate(3px);
  border: 5px solid whitesmoke;
  box-shadow: 0rem 1.1rem 4rem rgba(255, 255, 255, 0.316);
  
}

.small-box--1>h1{
 
  font-size:25px
}
.small-box--1>span {
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

  font-size: 30px;
}

.small-box--1>span:nth-child(2){
  font-size: 35px;
}
.small-box--1>span:nth-child(3){
  font-size: 40px;
}
.small-box--2>h1{
  margin-top: 25px;
  padding-left: 7px;
  
}
.small-box--2>span{
  margin-top: 260px;
  /* align-items: center; */
  padding-left: 41px;
  font-size: 20px;
}
.small-box--2{
  background: center center no-repeat url("./img/images/food.gif");
  /* background: linear-gradient(0deg, rgba(35,46,60,1) 0%, rgba(39,38,67,1) 54%); */
  background-size: contain;
  background-position: center;
  transition: all 0.2s;
}
.gradient-text {
  
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  transition: all 0.2s;
  z-index: 23;
}
.gradient-text1{
  transition: all 0.2s;
  z-index: 23;
}
.gradient-text1:hover{
  transform: skew(2deg, 5deg);
}



.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  height: 200px;
  width: 200px;
  /* padding: 84px; */
  /* box-shadow: rgba(58, 221, 13, 0.686) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgba(58, 221, 13, 0.686) 0px 5px 15px;
  overflow-y: visible;
}
.exercise-card:hover,
.bodyPart-card:hover {
  transform: scaleY(1.1);
}

.search-btn:hover {
  color: #a1e533 !important;
  border: 1px solid #a1e533 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 300px;
  height: 300px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  body{
    background:
   url(./img/images/bg13.png) no-repeat;
   background-size: cover;

  }
  
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    background:
   url(./img/images/bg13.png) no-repeat;
   background-size: cover;
    width: 280px;
  }
}

/* .inverted-7 {
  background:
    linear-gradient(-45deg, #f39c12  40%, #fff 0 60%, #f39c12  0) right/300% 100% no-repeat,
    linear-gradient(-45deg, #fdfc47 40%, #000 0 60%, #fdfc47 0) right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.8s
}
.inverted-7:hover {
  background-position: left;
} */

@media only screen and (max-width: 468px){
  .gradient-text-2 {
    font-size: 2rem;
    word-break: none;
  }
}